*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: 'Fjalla One', sans-serif;
}

html, body{
    height: 100%;
}

div.header{
    width: 100%;
    top: 0;
    height: 15%;
    display: flex;
}

div.header img{
    height: 2em;
    margin: 1em;
}

.headingNav h1, .headingNav a{
    color:white;
}

.headingNav{
    display: flex;
    height: 10vh;
}

.headingNav ul{
    top: 0;
}

.headingNav li{
    margin: 1.8em;
    top: 0;
}

div.backgroundHeader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

div.backgroundHeader #myVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

div.movieBackground{
    background-color: rgba(99, 99, 99, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
}

div.headerContent{
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    
}

div.headerContent h1{
    color: white;
    font-size: 3em;
}

div.content{
    width: 100%;
    text-align: center;
    background-color: #ebebeb;
}

div.contentTitle p{
    padding-top: 1em;
    font-size: 4em;
}

ul.members div{
    margin: 6em 0%;
    /* background-color: #dcdcdc; */
    width: 60%;
    height: 20%;
    border-top: 6px solid #4b7e74;
    background-image: url(img/backgroundLightGradient.jpg);
    background-size: cover;
}

ul.members img{
    width: 30%;
    object-fit: cover;
    overflow: hidden;
    border: 4px solid #4b7e74;
    border-radius: 50%;
    margin: -2em 2em;
}

ul.members div.simon, ul.members div.isac{
    /* background-color: #b9b9b9; */
    background-image: url(img/background.jpg);
    margin-left: 40%;
}

ul.members li a{
    display: flex;
    align-items: center;
}

ul.members div.simon li a, ul.members div.isac li a{
    justify-content: right;
}

ul.members div.isac{
    margin-bottom: 0;
}

ul.members li a p {
    font-size: 3em;
}

div.contentTwo{
    background-color:#ebebeb;
}

