/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Fjalla One", sans-serif;
  height: 100%;
}

/* HEADER */

.nav-horizontal {
  display: flex;
  align-items: center;
  padding-left: 2%;
  height: 8vh;
}

.nav-horizontal > a {
  display: flex;
  align-items: center;
}

.nav-horizontal a#hamburger {
  display: flex;
  margin-left: auto;
  padding-right: 2%;
}

/* .nav-horizontal i, */
.nav-horizontal img {
  width: 50px;
  margin-right: 8px;
}

.nav-horizontal h2 {
  font-size: 35px;
}

.nav-horizontal > ul {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-horizontal ul a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 1.2em;
}

#hamburger {
  z-index: 2;
}

#hamburger .hamburger {
  z-index: 2;
  outline: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: inherit;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s ease;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.toggle {
  height: 100%;
}

.nav-horizontal ul {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 2;
  transition: all 0.3s ease;
}

/* BACKGROUND VIDEO */

div.backgroundHeader {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

div.backgroundHeader #myVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

div.movieBackground {
  background-color: rgba(99, 99, 99, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
}

/* HEADER CONTENT */

div.headerContent {
  padding: 1.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#membersTitle p {
  margin-top: 150px;
}

#projectsTitle p {
  text-align: center;
}
div.headerContent p {
  font-size: 1.8em;
  color: white;
  text-align: left;
}

div.headerContent h1 {
  text-align: center;
  color: white;
  font-size: 3.2em;
}

div.content {
  margin: 0% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("");
}

div.contentTitle {
  margin-top: 2em;
  padding-top: 1em;
  font-size: 2em;
}
div.contentTitle p {
  color: black;
  text-align: center;
}

div.member {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

div.member:hover {
  height: 400px;
}

div.member:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

div.member:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(168, 174, 194);
  z-index: -1;
  filter: blur(40px);
}

.member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.member .imgBx img {
  max-width: 100%;
  opacity: 0.4;
  transition: 0.5s;
}

.member .imgBx img:hover {
  opacity: 1;
}

.member .contentBx {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.member:hover .contentBx {
  opacity: 1;
}

.member .contentBx h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.member .contentBx h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

div.contentTwo {
  background-color: #ebebeb;
}

div#mainContent{

}

div.contentHeader{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

div.contentHeader #bannerImg{
  position: absolute;
  height: 40vh;
  width: 100%;
  z-index: -1;
}

div.contentHeader div{
  width: 200px;
  height: 200px;
  margin: auto 2.5em;
  text-align: center;
}

div.contentHeader div img{
  width: 200px;
  height: 200px;
  /* border: 10px solid white; */
}

.sideImage{
  opacity: 0.4;
  border: 6px solid white;
}

.picture{
  background-color: white;
}

.sideDiv{
  background-color: white;
}

div.contentHeader div.pictureMiddle{
  width: 300px;
  height: 360px;
  margin: 0.8em 1em;

}

#pictureContent{
  width: 280px;
  height: 50px;
  margin: 5px 10px 10px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#pictureContent h1{
}

div.contentHeader div #pictureMiddle{
  width: 280px;
  height: 280px;
  margin-top: 10px;
}

div.contentContent{
  height: 100vh;
  display:flex;
  justify-content: center;
}
div.contentBackground{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  background-color: grey;
}

div.memberInfo{
  height: 92%;
  width: 80%;
  position: relative;
  margin-top: 6%;
  background-color: darkgrey;
}

div.memberinfo ul{

}

div.memberInfo ul li{
  margin: 1.5em;
  color:black;
  letter-spacing: 0.1em;
  font-weight: 500;
}

div.memberInfo ul li strong{
  font-size: 1.5em;
  letter-spacing: 0.05em;
  color:black;
}





/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-horizontal ul {
    display: flex;
  }

  div.contentTitle {
    margin-top: 0.4em;
    padding-top: 0.4em;
    font-size: 6em;
  }

  div.member {
    width: 500px;
    height: 500px;
    margin: 40px 80px 80px 80px;
  }

  div.member:hover {
    height: 660px;
  }

  div.member:after {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    filter: blur(40px);
  }

  .member .contentBx {
    height: 150px;
  }

  .member .contentBx h2 {
    font-size: 2.5em;
    line-height: 25px;
  }

  .member .contentBx h2 span {
    font-size: 0.5em;
  }

  div.contentHeader #bannerImg{
    width: 70%;
  }

  div.contentBackground{
    width: 70%;
  }

  div.memberInfo{
  }

  
  #map {
    width: 60%;
    height: 700px;
    background-color: grey;
    margin-left: 20%;
  }
}
