/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Fjalla One", sans-serif;
  height: 100%;
}

/* HEADER */

.nav-horizontal {
  display: flex;
  align-items: center;
  padding-left: 2%;
  min-height: 10vh;
}

.nav-horizontal > a {
  display: flex;
  align-items: center;
}

.nav-horizontal a#hamburger {
  display: flex;
  margin-left: auto;
  padding-right: 2%;
}

.nav-horizontal img {
  width: 50px;
  margin-right: 8px;
}

.nav-horizontal h2 {
  font-size: 35px;
}

.nav-horizontal > ul {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-horizontal ul a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 1.2em;
}

#hamburger {
  z-index: 2;
}

#hamburger .hamburger {
  z-index: 2;
  outline: none;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: inherit;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s ease;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.toggle {
  height: 100%;
}

.nav-horizontal ul {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 2;
  transition: all 0.3s ease;
}

.toggle-margin {
  margin-top: 0;
}

/* BACKGROUND VIDEO */
div.backgroundHeader {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

div.backgroundHeader #myVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

div.movieBackground {
  background-color: rgba(99, 99, 99, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
}

/* HEADER CONTENT */

div.mainContent {
  background-color: #f7f7f7;
}

div.headerContent {
  padding: 1.8em 1.8em 0 1.8em;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectsTitle p {
  text-align: center;
}

#membersTitle {
  padding-top: 20vh;
}

div.headerContent p {
  font-size: 1.8em;
  color: white;
  text-align: left;
}

div.headerContent h1 {
  text-align: center;
  color: white;
  font-size: 3.2em;
}

div.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("");
}

div.contentTitle {
  padding-top: 10vh;
}

div.contentTitle p {
  font-size: 4em;
  color: black;
  text-align: center;
}

#wave-top {
  position: absolute;
  opacity: 0.25;
}

#wave-bottom {
  position: absolute;
  opacity: 0.25;
}

/* MEMBER BOX */
div.member {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

div.member:hover {
  height: 400px;
}

div.member:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

div.member:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(168, 174, 194);
  z-index: -1;
  filter: blur(40px);
}

.member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.member .imgBx img {
  max-width: 100%;
  opacity: 0.4;
  transition: 0.5s;
}

.member .imgBx img:hover {
  opacity: 1;
}

.member .contentBx {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.member:hover .contentBx {
  opacity: 1;
}

.member .contentBx h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.member .contentBx h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

/* PROJECT BOX */
div.project {
  position: relative;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 40px 0;
  /* margin: 0 auto; */
  /* background-color: red; */
  transition: 0.5s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  /* flex-wrap: wrap; */
  z-index: -0;
}

div.project:hover {
  height: 700px;
}

.project .projectBx {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 140px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.project:hover .projectBx {
  opacity: 1;
}

.project .projectBx h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.project .projectBx h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

/* div.project:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

div.project:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(168, 174, 194);
  z-index: -1;
  filter: blur(40px);
} */

.project .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* PROJECTS CAROUSEL */
.projectCarouselInteraktion,
.projectCarouselMib,
.projectCarouselScrumXP {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  opacity: 0.4;
  transition: 0.5s;
}

.project .flickity-page-dots{
  bottom: -20px;
}

.projectCarouselInteraktion:hover,
.projectCarouselMib:hover,
.projectCarouselScrumXP:hover {
  opacity: 1;
}

.projectCell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #353333c9; */
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
}

.projectCell img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.projects {
  margin: 10px;
  margin-bottom: 30px;
}

.project{
  min-width: 350px;
}




.previous {
  position: relative;
}

/* Lukas Test Slut */

div.contentTwo {
  background-color: #ebebeb;
}

/* div.contentHeader {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
} */
/* div.mainCarousel {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center; */
/* margin-bottom: 2em; */

/* div.contentHeader #bannerImg {
  position: absolute;
  height: 40vh;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 15px 15px;
} */

/* div.contentHeader div {
  width: 200px; */
/* height: 200px; */
/* margin: auto 1em;
  text-align: center;
} */

/* div.contentHeader div img {
  width: 200px;
  height: 200px; */
/* border: 10px solid white; */
/* } */

.sideImage {
  opacity: 0.4;
  border: 6px solid white;
}

.picture {
  background-color: white;
}

.sideDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sideDiv h1 {
  position: absolute;
  font-size: 1.4em;
}

div.contentHeader div.pictureMiddle {
  width: 300px;
  height: 360px;
  margin: 0.8em 1em;
}

#pictureContent {
  width: 280px;
  height: 50px;
  margin: 6px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#pictureContent h1 {
  font-size: 1.5em;
}

div.contentContent {
  background-color: #c9c9bb;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #2f2f2d;
}
div.contentBackground {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #c9c9bb;
  /* border-radius: 15px; */
  /* box-shadow: 0px 0px 24px -8px rgba(47, 47, 45, 1); */
  margin-top: 1em;
}

div.memberInfo {
  height: 100%;
  width: 80%;
  position: relative;
  margin: 6% 0;
  padding-bottom: 1em;
  background-color: #e2e1d2;
  border-radius: 15px;
}

div.memberInfo ul li {
  margin: 0.5em 0.5em 0.5em 0;
  color: #2f2f2d;
  letter-spacing: 0.05em;
  font-weight: 500;
}

div.memberInfo ul li strong {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  color: #2f2f2d;
}

#chart {
  width: 80%;
  position: relative;
  margin: 0 auto;
}



#myChart {
  width: 200%;
  height: 600px;
  position: relative;
}

#textContent {
  width: 80%;
  margin: 1em auto;
  text-align: center;
  align-items: center;
  color: #2f2f2d;
}
#textContent h1,
#textContent p {
  color: #2f2f2d;
}

#prevMember {
  top: 64px;
  margin-top: 0px;
  right: -22px;
  width: 48px;
}

#nextMember {
  top: 64px;
  margin-top: 0px;
  left: -22px;
  width: 48px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.contentHeader {
  height: 460px;
  background-color: #f0efdf;
}

/* MEMBERS CAROUSEL */
.mainCarousel {
  width: 100%;
  margin: 0 auto;
  height: 420px;
  justify-content: center;
}

.cell {
  position: relative;
  width: 80%;
  height: 400px;
  justify-content: center;
  margin: 15px auto;
  /* padding: 30px; */
  /* border: 3px solid #f1c40f; */
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 0px 0px 24px -8px rgba(47, 47, 45, 1);
}

.cell img {
  margin-top: 25px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.is-selected {
  opacity: 1;
  transition: 0.5s;
}

.mainCarousel h1 {
  color: #2f2f2d;
  margin-top: 16px;
  font-size: 1.5em;
}

.flickity-button {
  background: #c9c9bb !important ;
  box-shadow: 0px 0px 24px -8px rgba(47, 47, 45, 1);
}

/* .flickity-viewport{
  height: 600px !important;
} */

.arrow {
  color: #2f2f2d;
}


/* CONTACT US */
.form {
  padding: 16px;
  background: #f7f7f7;
  font-family: inherit;
  border-radius: 10px;
  width: 90%;
  margin: 5px 5%;
}

.form label {
  color: #000;
  font-family: inherit;
  color: #555;
}

.form input,
.form textarea,
.form select {
  font-family: inherit;
  outline: none;
  width: 100%;
  background: #fff;
  margin-bottom: 0;
  border: 1px solid #ccc;
  padding: 12px;
  color: #000;
  font-size: 16px;
}

textarea {
  resize: none;
}

.form input[type="submit"],
.form input[type="button"] {
  border-radius: 5px;
  margin-top: 10px;
  font-family: inherit;
  width: 100%;
  padding: 2%;
  background: #5a946d;
  border-bottom: 2px solid #d3d3d3;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover,
a#stop {
  filter: saturate(150%);
}

.form input[type="submit"]:active,
.form input[type="button"]:active,
a#stop {
  filter: saturate(200%);
  transform: translateY(1px);
}

.center {
  margin-top: 20px;
  text-align: center;
}

.stop {
  border-radius: 5px;
  font-family: inherit;
  width: 100%;
  padding: 1%;
  background: #945a5a;
  border-bottom: 2px solid #d3d3d3;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}

.start {
  border-radius: 5px;
  font-family: inherit;
  width: 100%;
  padding: 1%;
  background: #5a946d;
  border-bottom: 2px solid #d3d3d3;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}

/* MAP */
#map {
  width: 90%;
  min-height: 600px;
  margin: 20px 5% 0;
  border-radius: 10px;
  padding: 20px;
}

.error {
  margin-bottom: 1%;
}

.emsg {
  color: red;
}

.hidden {
  visibility: hidden;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-horizontal ul {
    display: flex;
  }

  div.contentTitle {
    font-size: 1.2em;
  }

  div.member {
    width: 500px;
    height: 500px;
    margin: 40px 80px 80px 80px;
  }

  div.member:hover {
    height: 660px;
  }

  div.member:after {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    filter: blur(40px);
  }

  .member .contentBx {
    height: 150px;
  }

  .member .contentBx h2 {
    font-size: 2.5em;
    line-height: 25px;
  }

  .member .contentBx h2 span {
    font-size: 0.5em;
  }

  div.contentBackground {
    width: 70%;
  }

  #map {
    width: 60%;
    margin: auto;
  }

  .form {
    width: 60%;
    margin: auto;
    margin-bottom: 25px;
  }

  #topContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.textContent {
    width: 40%;
    margin: 1em;
    font-size: 1em;
  }

  #chart {
    width: 60%;
    margin: 1em;
  }

  .project{
    width: auto;
  }

  #interaktion{
    width: 350px;
    margin: 40px 300px;
  }

  .projectCarouselInteraktion,
  .projectCarouselMib,
  .projectCarouselScrumXP {
    width: 100%;
    /* margin: 1em auto; */
    border-radius: 10px;
  }

  .projectCell {
    border-radius: 10px;
    /* background-color: #353333c9; */
    width: 100%;
    margin-right: 10px;
  }

  .project{
    max-width: 800px;
  }

  .projectCell img {
    object-fit: contain;
    text-align: center;
    padding: 0px 0px;
    /* width: 100%; */
    height: 100%;
    border-radius: 10px;
  }

  /* MEMBERS CAROUSEL */
  .mainCarousel {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .cell {
    width: 50%;
    max-width: 500px;
    height: 500px;
    justify-content: center;
    margin: 0 15px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }

  .cell img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }

  .mainCarousel h1 {
    color: #2f2f2d;
    margin-top: 0.5em;
  }

  .flickity-button {
    background: #e2e1d2 !important ;
  }

  .arrow {
    color: #2f2f2d;
  }
}
